.wrapper {
    color: #fff;
}

.wrapper-info-profile {
    background-color: #291547cc;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.blur-avatar {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    background-position: 50%;
    background-size: cover;
}

.container-info {
    position: absolute;
    left: 50px;
    bottom: 26px;
    display: flex;
    align-items: center;
    .cover-image {
        width: 140px;
        height: 140px;
        display: inline-block;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.cover-detail-info {
    display: inline-block;
    margin-left: 36px;
}

.nickname {
    display: flex;
    align-items: center;
    p {
        font-size: 60px;
        font-family: Inter-Bold;
        display: inline-block;
        margin-right: 24px;
    }

    .cover-play-icon {
        display: block;
        width: 52px;
        height: 52px;
        background-color: #9b4de0;
        border-radius: 50%;
        text-align: center;
        i {
            line-height: 52px;
            font-size: 24px;
            margin-left: 2px;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }
}

.cover-img-social {
    width: 30px;
    height: 30px;
    img {
        width: 100%;
        height: 100%;
    }
}

.content-social {
    display: flex;
    align-items: center;
}

.cover-social-network {
    display: flex;
    align-items: center;
    margin-right: 46px;
    a {
        display: block;
    }
    .cover-img-social {
        margin-right: 18px;

        &:hover {
            opacity: 0.9;
        }
    }
}

.cover-func-follow {
    span {
        margin-right: 24px;
        font-weight: bold;
    }

    button {
        padding: 0 28px;
        height: 28px;
        border-radius: 20px;
        color: #ffffff;
        background-color: transparent;
        border: 1px solid #ffffff1a;
        font-size: 12px;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }
}

.list-songs {
    margin-top: 36px;
}

.contain-list-song {
    grid-gap: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
