.wrapper {
    padding: 8px 36px;
    position: relative;
}

.main-content {
    h2 {
        color: #fff;
    }
    .contain-list-song {
        margin-top: 16px;
    }
}

.contain-list-song {
    grid-gap: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
