.wrapper {
    padding: 8px;
    background-color: #170f23cc;
    position: fixed;
    top: 0;
    right: 0;
    left: 240px;
    min-height: 70px;
    z-index: 1;
}

.container {
    display: flex;
    transform: translateY(14%);
    .cover-search-song {
        flex: 10;
    }
    .search-songs {
        margin-left: 30px;
        width: 38%;
        color: #fff;
        border: 1px solid transparent;
        padding: 0 10px;
        border-radius: 20px;
        background-color: #ffffff1a;

        i {
            font-size: 18px;
            line-height: 40px;
            cursor: pointer;
        }
    }
    .profile-setting {
        flex: 1;
        display: flex;
        align-items: center;
        i {
            color: #fff;
            margin-right: 8px;
            padding: 11px;
            background-color: #ffffff1a;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }
        }

        .cover-img-user {
            height: 38px;
            position: relative;

            &:hover {
                .modal {
                    display: block;
                }
            }

            img {
                height: 100%;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}

.modal {
    position: absolute;
    background-color: #34224f;
    right: 16px;
    top: 100%;
    width: 278px;
    border-radius: 6px;
    display: none;
    .inner-modal {
        padding: 16px;

        .btn-login {
            padding: 14px 0;
            width: 250px;
            border-radius: 20px;
            font-size: 14px;
            font-family: Inter-Bold;
            background-color: #9b4de0;
            color: #fff;

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
        .btn-register {
            margin-top: 10px;
            padding: 12px 0;
            width: 250px;
            border-radius: 20px;
            font-size: 14px;
            font-family: Inter-Bold;
            color: #9b4de0;
            border: 3px solid #9b4de0;

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
}

.inner-modal {
    .item-menu {
        color: #fff;
        font-family: Inter-Bold;
        padding: 8px;
        background: 8px;
        transition: 0.2s ease-in-out;
        border-radius: 4px;
        &:hover {
            color: #9b4de0;
            cursor: pointer;
            background-color: #ffffff1a;
        }
    }
}

.form-control-search {
    padding: 8px;
    border-radius: 10px;
    width: 95%;
    background-color: transparent;
    color: #fff;
    font-size: 16px;

    &:focus {
        border-width: 4px;
    }

    &::placeholder {
        color: #fff;
        font-size: 14px;
    }
}
