.wrapper {
    padding: 8px;
    background-color: #170f23cc;
    position: fixed;
    top: 0;
    right: 0;
    left: 240px;
    min-height: 70px;
}

.container {
    display: flex;
    transform: translateY(14%);
    .cover-search-song {
        flex: 10;
    }
    .search-songs {
        margin-left: 30px;
        width: 38%;
        color: #fff;
        border: 1px solid transparent;
        padding: 0 10px;
        border-radius: 20px;
        background-color: #ffffff1a;

        i {
            font-size: 18px;
            line-height: 40px;
            cursor: pointer;
        }
    }
    .profile-setting {
        flex: 1;
        display: flex;
        align-items: center;
        i {
            color: #fff;
            margin-right: 8px;
            padding: 11px;
            background-color: #ffffff1a;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }
        }

        img {
            width: 38px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}

.form-control-search {
    padding: 8px;
    border-radius: 10px;
    width: 95%;
    background-color: transparent;
    color: #fff;
    font-size: 16px;

    &:focus {
        border-width: 4px;
    }

    &::placeholder {
        color: #fff;
        font-size: 14px;
    }
}
