.wrapper {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ffffff1a;
}

.mr-8 {
    margin-right: 8px;
}

.mr-24 {
    margin-right: 24px;
}

.ml-8 {
    margin-left: 8px;
}

// Controll Song
.repeat {
    color: #c273ed;
    background-color: #ffffff1a;
    position: relative;

    &::after {
        content: '1';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #c273ed;
        border-radius: 50%;
        font-size: 8px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
    }
}

.container {
    padding: 12px 20px 0;
    background-color: #130c1c;
    display: flex;
    justify-content: space-between;
    color: #fff;

    .right-player-bar {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .cover-des-song {
        display: flex;
        align-items: center;
    }

    .center-player-bar {
        flex: 1;
        padding: 0 24px;
    }

    .left-player-bar {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: right;

        i {
            cursor: pointer;
        }
    }

    .control-song-icon {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 400px;
        margin: 0 auto;

        [tabindex] {
            outline: none;
            border: 2px solid #fff;
            transition: 0.2s ease-in-out;
            &:hover {
                border-color: #9b4de0;
            }
        }

        .control-icon {
            cursor: pointer;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            font-size: 18px;
            border-radius: 50%;

            &:hover {
                background-color: #ffffff1a;
            }
        }
    }
}

.cover-icon-play {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;

    .icon-play {
        font-size: 18px;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translateX(60%) translateY(-50%);
    }

    .icon-pause {
        font-size: 18px;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translateX(50%) translateY(-50%);
    }
    transition: 0.1s ease-in-out;

    &:hover {
        cursor: pointer;
        color: #9b4de0;
        border-color: #9b4de0;
    }
}

.des-song {
    display: inline-block;
    margin-left: 8px;
    position: relative;

    .love-song {
        position: absolute;
        right: -80px;
        top: 50%;
        transform: translateY(-50%);

        i {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            &:hover {
                cursor: pointer;
                background-color: #ffffff1a;
            }
        }
    }

    .name-song {
        display: block;
        font-size: 16px;
        font-family: Inter-Medium;
    }

    .singer-song {
        color: #ffffff80;
        font-size: 12px;
        font-family: Inter-Regular;
    }
}

.cover-avatar-song {
    position: relative;
    bottom: 6px;
    width: 78px;
    height: 78px;
    .avatar-song {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.spin {
    animation: spinDisc 6s linear infinite;
}

@keyframes spinDisc {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.timer-song {
    display: flex;
    align-items: center;
    margin-top: 6px;
    font-family: Inter-Medium;
    min-height: 22px;

    .count-time-song {
        font-size: 12px;
        font-weight: bold;
    }
}

.bar-count-time {
    width: 100%;
    display: flex;
    padding: 8px 0;

    .form-control-time {
        width: 100%;
        height: 4px;
        border-radius: 4px;
        appearance: none;
        background-color: #5a5560;
        overflow: hidden;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 4px;
            width: 16px;
            background-color: #fff;
            box-shadow: -407px 0 0 400px #13bba4;
        }
    }

    &:hover {
        .form-control-time {
            padding: 3px 0;
            cursor: pointer;

            &::-webkit-slider-thumb {
                height: 13px;
                width: 18px;
                border-radius: 50%;
            }
        }
    }
}

.bar-count-volume {
    padding: 8px 0;
    display: flex;

    .form-control-volume {
        overflow: hidden;
        height: 4px;
        border-radius: 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #5a5560;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            height: 4px;
            width: 16px;
            background-color: #fff;
            box-shadow: -407px 0 0 400px #13bba4;
        }
    }

    &:hover {
        .form-control-volume {
            padding: 3px 0;
            cursor: pointer;
            &::-webkit-slider-thumb {
                height: 12px;
                width: 18px;
                border-radius: 50%;
            }
        }
    }
}
