.wrapper {
    padding: 8px;
    color: #fff;
    h2 {
        color: #fff;
        margin-left: 16px;
    }
}

.text-white {
    color: #fff;
}

.fl-r {
    float: right;
}

.mr-16 {
    margin-right: 30px;
}

.container {
    margin-top: 24px;
    padding: 0 20px;
}

.inner-form {
    display: flex;
    .left-form {
        flex: 1;
        padding: 0 32px 0 0;
    }

    .right-form {
        flex: 1;
        transform: translateY(-34px);
    }
}

.control-files {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    input {
        display: none;
    }

    .cover-file {
        position: relative;
        color: #c273ed;
        font-family: Inter-Bold;
        cursor: pointer;
        background-color: #ffffff1a;
        border-radius: 6px;
        min-width: 260px;

        &:hover {
            opacity: 0.9;
        }

        label {
            cursor: pointer;
            width: 100%;
            padding: 8px;
            display: block;
        }
    }
}

.cover-name-song {
    display: flex;
    align-items: center;

    .label-name-song {
        display: inline-block;
        min-width: 120px;
        color: #c273ed;
        font-family: Inter-Bold;
    }

    .input-name-song {
        padding: 10px;
        flex: 1;
        border-radius: 4px;
        background-color: #34224f;
        color: #fff;
        font-size: 16px;
        caret-color: #c273ed;
        font-family: Inter-Medium;
    }
}

.cover-singer-song {
    display: flex;
    align-items: center;
    margin: 14px 0;
    .label-singer-song {
        display: inline-block;
        min-width: 120px;
        color: #c273ed;
        font-family: Inter-Bold;
    }
    .input-singer-song {
        padding: 10px 10px;
        flex: 1;
        border-radius: 4px;
        background-color: #34224f;
        color: #fff;
        font-size: 16px;
        caret-color: #c273ed;
        font-family: Inter-Medium;
        font-style: italic;
    }
}
.cover-option-cate {
    margin-top: 16px;
    .cate-label {
        display: inline-block;
        min-width: 120px;
        color: #c273ed;
        font-family: Inter-Bold;
    }

    .option-cate {
        border: none;
        padding: 8px;
        flex: 1;
        border-radius: 4px;
        background-color: #34224f;
        color: #fff;
        font-size: 16px;
        caret-color: #c273ed;
        font-family: Inter-Medium;
        outline: none;
        cursor: pointer;
    }
}

.cover-btn-post {
    text-align: center;
    margin-top: 230px;
    position: relative;

    .notify {
        font-family: Inter-Bold;
        color: red;
    }

    .btn-post {
        padding: 12px 0;
        min-width: 300px;
        color: #fff;
        background-color: #9b4de0;
        font-size: 20px;
        font-family: Inter-Bold;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            opacity: 0.9;
            color: #9b4de0;
            background-color: #fff;
        }
    }
}

.cover-des-song {
    .label-des-song {
        display: block;
        min-width: 120px;
        color: #c273ed;
        font-family: Inter-Bold;
    }

    .input-des-song {
        margin-top: 10px;
        padding: 10px;
        border-radius: 4px;
        background-color: #34224f;
        color: #fff;
        font-size: 16px;
        caret-color: #c273ed;
        font-family: Inter-Medium;
        outline: none;
        border: none;
        min-width: 100%;
        min-height: 100px;
        resize: none;
    }

    .input-lyric-song {
        margin-top: 10px;
        padding: 10px;
        border-radius: 4px;
        background-color: #34224f;
        color: #fff;
        font-size: 16px;
        caret-color: #c273ed;
        font-family: Inter-Medium;
        outline: none;
        border: none;
        min-width: 100%;
        min-height: 300px;
        resize: none;
    }
}

.cover-img-input {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100%;
    margin-top: 10px;
    .img-file-input {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

.cover-mp3-input {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .mp3-file-input {
        display: none;
    }

    .name-song-input {
        color: #fff;
        margin-right: 10px;
        font-family: Inter-Medium;
    }
    .icon-play-input {
        font-size: 22px;
        color: #fff;
    }
}
